.classOverviewLink {
    display: flex;
    width: 20vw;
    height: 20vw;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    border-radius: 8px;
    border: solid 8px lightgrey;
}

.classOverviewLink:hover {
    background: lightgrey;
}

.react-tabs__tab-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2% 8%;
    height: 5vh;
    background: gray;
}

.wrappingSquareList {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 0px 16px 16px 16px;
    gap: 16px;
}

.quizLink {
    text-decoration: none;
    color: black;
}

.quizLink:hover {
    background: lightgrey;
    border-radius: 8px;
}